<div class="container">

    <app-team-card
        title="Aref Habibi"
        description="Front-end Developer & Development Team"
        src="assets/team/Aref.webp"
        githubLink="https://github.com/"
        emailLink="Habibi@gmail.com"
    ></app-team-card>

    <app-team-card
        title="Yasin Karbasian"
        description="Back-end Developer & Scrum Master"
        src="assets/team/yasin.webp"
        githubLink="https://github.com/"
        emailLink="yasinkarbasian@gmail.com"
    ></app-team-card>

    <app-team-card
        title="Alireza Matinkhah"
        description="Front-end Developer & Product Owner"
        src="assets/team/alireza.webp"
        githubLink="https://github.com/"
        emailLink="AlirezaMatinkhah@gmail.com"
    ></app-team-card>

    <app-team-card
        title="Mostafa Derispour"
        description="Back-end Developer & Development Team"
        src="assets/team/mostafa.webp"
        githubLink="https://github.com/"
        emailLink="Derispour@gmail.com"
    ></app-team-card>
</div>
